{
  "plugins": [
    ["import", { "libraryName": "antd", "style": true }],
    ["module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@client": "./client",
          "@server": "./server",
          "@config": "./config",
          "@build": "./build",
          "@static": "./static"
        }
      }
    ]
  ]
}